# OIM CMS private API endpoint for users
$user_api = "https://oim_cms.example.com/api/users";

# hostname of nearest Active Directory DC
$adserver = "dc-001";

# OU definition used by group_wrangler to create shadow AD copies of groups managed by Exchange Online
$mail_security_ou = "example.com/Groups/MailSecurity";
$unified_group_ou = "OU=UnifiedGroup,OU=Groups,DC=example,DC=com";

# OU definitions used by org_wrangler to store a flattened AD replica of the OIM CMS org structure table
$org_unit_ou = "example.com/Groups/OrgUnit";
$cost_centre_ou = "example.com/Groups/CostCentre";
$location_ou = "example.com/Groups/Location";

# OU definitions used by directory_wrangler to sync AD user objects with OIM CMS DepartmentUsers
$user_ous = ("OU=Users,OU=GroupA,DC=example,DC=com", "OU=Users,OU=GroupB,DC=example,DC=com");

# PrimarySMTPAddress of Exchange Online group containing admin users
$admin_msolgroup = "oim-support-admins@example.com";


# office 365 admin credentials
$o365_user = "admin@example.onmicrosoft.com";
$o365_pass = "password";

# glue to load Exchange 2013 into the current session, and Exchange Online into the $session object
$cred = New-Object -TypeName System.Management.Automation.PSCredential -ArgumentList $o365_user, $(ConvertTo-SecureString $o365_pass -AsPlainText -Force);
Get-PSSession | Remove-PSSession;
. "C:\Program Files\Microsoft\Exchange Server\V15\Bin\RemoteExchange.ps1";
Connect-ExchangeServer -Auto;
$session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://outlook.office365.com/powershell-liveid/ -Credential $cred -Authentication Basic -AllowRedirection;
Connect-MsolService -Credential $cred;

# Basic auth stuff
$basicAuthValue = [System.Convert]::ToBase64String([System.Text.Encoding]::ASCII.GetBytes("user:pass"));
$authHeaders = @{Authorization = "Basic $basicAuthValue"};

Invoke-WebRequest "https://oim.dpaw.wa.gov.au/auth" -Headers $authHeaders -SessionVariable oimsession;

Export-ModuleMember -Function * -Variable *;